<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.speechrecognition">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeechRecognition"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".BrailleEnglish"
            android:exported="false" />
        <activity
            android:name=".BrailleMaths"
            android:exported="false" />
        <activity
            android:name=".BrailleLessonsActivity"
            android:exported="false" />

        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".MathQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ScienceorEnglishmain"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".FinalResultActivity"
            android:exported="false" />
        <activity
            android:name=".English"
            android:exported="false" />
        <activity
            android:name=".Science"
            android:exported="false" />
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Maths"
            android:exported="false" />

        <activity
            android:name=".Splash"
            android:exported="false" />

        <activity
            android:name=".Profile"
            android:exported="false" />

        <activity
            android:name=".Dashboard"
            android:exported="false" />


        <activity
            android:name=".LogoSS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>